<!DOCTYPE html>
<html lang="en" ng-app="demoApp1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div class="container">
    <div ng-view=""></div>
</div>
<script src="./../javascripts/angular/angular.min.js"></script>
<script src="./../javascripts/angular/controllersRoute.js"></script>
<!--<script src="//code.angularjs.org/snapshot/angular-route.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
</body>
</html>
